<form class="ui stacked segment form" action="/membersbookings/addBooking" method="POST">
    <h3 class="ui header">Add Assessment Booking</h3>
    <div class="two fields">
        <label>Trainer </label><div class="field">
        <select name="trainer">
    {{#each listTrainers}}
            <option name="trainerId" value="{{id}}">{{firstname}} {{lastname}}</option><br>
    {{/each}}
        </select>
    </div>
    </div>
        <div class="two fields">
            <label>Date</label>
            <div class="field">
                    <input placeholder="Date" type="date" name="date" required><br>
            </div>
    </div>
    <div class="two fields">
        <label>Time</label>
        <div class="field">
            <input placeholder="Time" type="time" name="time" step="1800" required><br>
            <p>*Assessment bookings take place every half hour. You must book your assessment at a half hour increment.</p>
        </div>

    </div>
    <button class="ui blue submit button">Add Booking</button>
</form>