<form class="ui stacked segment form" action="/classescreation/addClass" method="POST">
    <h3 class="ui header">Add Class</h3>
    <div class="three fields">
        <div class="field">
            <label>Class Name</label>
            <input placeholder="Class Name" type="text" name="className" required>
        </div>
        <div class="field">
            <label>Number of Lessons</label>
            <input placeholder="Number" type="number" step="1" min="1" max="12" name="lessonNumber" required>
        </div>
        <div class="field">
            <label>Start Date</label>
            <input placeholder="Start Date" type="date" name="startDate" required>
        </div>

    </div>

    <div class="three fields">
        <div class="field">
            <div class="field">
                <label> Start Time </label>
                <div class="ui calendar" id="startTimeCalendar">
                    <div class="ui input left icon">
                        <i class="time icon"></i>
                        <input type="time" placeholder="From" name="startTime">
                    </div>
                </div>
            </div>
            <div class="field">
                <label> Duration of class </label>
                 <div class="ui calendar" id="startTimeCalendar">
                     <div class="ui input left icon">
                         <i class="time icon"></i>
                         <input type="time" placeholder="Duration" name="duration">
                     </div>
                 </div>
             </div>

         </div>
         <div class="field">
             <label>Capacity</label>
             <input placeholder="Capacity" type="number" step="1" min="1" max="40" name="capacity" required>
         </div>
         <div class="field">
             <label>Difficulty Level</label>
             <input placeholder="Difficulty" type="number" step="1" min="1" max="11" name="difficulty" required>
         </div>
     </div>
     <button class="ui blue submit button">Add Class</button>
 </form>