<form class="ui stacked segment form" action="/fitnesscreation/{{user.id}}/addFitnessProg" method="POST">
    <h3 class="ui header">Add Fitness Program for {{user.firstname}}</h3>
    <div class="field">
        <label>Program name</label>
        <input value="Program Name" type="text" name="programName">
    </div>
    <div class="five fields">
        <div class="field">
            <label>Session 1</label>
            <select name="sessionType1">
                <option name="sessiontype" value="predefined"> Pre-defined</option><br>
                <option name="sessiontype" value="custom">Bespoke session</option><br>
                <option name="sessiontype" value="class">Attend scheduled class</option><br>
            </select>
        </div>
        <div class="field">
            <label>Session 2</label>
            <select name="sessionType2">
                <option name="sessiontype" value="predefined"> Pre-defined</option><br>
                <option name="sessiontype" value="custom">Bespoke session</option><br>
                <option name="sessiontype" value="class">Attend scheduled class</option><br>
            </select>
        </div>
        <div class="field">
            <label>Session 3</label>
            <select name="sessionType3">
                <option name="sessiontype" value="predefined"> Pre-defined</option><br>
                <option name="sessiontype" value="custom">Bespoke session</option><br>
                <option name="sessiontype" value="class">Attend scheduled class</option><br>
            </select>
        </div>
        <div class="field">
            <label>Session 4</label>
            <select name="sessionType4">
                <option name="sessiontype" value="predefined"> Pre-defined</option><br>
                <option name="sessiontype" value="custom">Bespoke session</option><br>
                <option name="sessiontype" value="class">Attend scheduled class</option><br>
            </select>
        </div>
        <div class="field">
            <label>Session 5</label>
            <select name="sessionType5">
                <option name="sessiontype" value="predefined"> Pre-defined</option><br>
                <option name="sessiontype" value="custom">Bespoke session</option><br>
                <option name="sessiontype" value="class">Attend scheduled class</option><br>
            </select>
        </div>
    </div>
    <button class="ui blue submit button">Complete Fitness Program Details</button>
</form>