<header class="ui five column center aligned middle aligned grid segment">
    <div class="ui column">
        <a id="dashboard" class="item" href="/dashboard">
        <p class="ui line chart icon header">
            <i class="ui red line chart icon"></i>My Status
        </p>
        </a>
    </div>
    <div class="ui column">
        <a id="bookings" class="item" href="/bookings">
        <p class="ui calendar icon header">
            <i class="ui blue calendar icon"></i>Book Assessment
        </p>
        </a>
    </div>
    <div class="ui column">
        <a id="dashboard" class="item" href="/membersclasses">
        <p class="ui student icon header">
            <i class="ui black student icon"></i>Schedule a Class
        </p>
        </a>
    </div>
    <div class="ui column">
        <a id="goals" class="item" href="/goals">
        <p class="ui trophy icon header">
            <i class="ui yellow trophy icon"></i>
        </p><div class="container"><div class="neon">My Goals</div></div>
        </a>
    </div>
    <div class="ui column">
        <a id="dashboard" class="item" href="/dashboard">
        <p class="ui heart icon header">
            <i class="ui green heart icon"></i>Fitness Programmes
        </p>
        </a>
    </div>
</header>