<header class="ui five column center aligned middle aligned grid segment">
    <div class="ui column">
        <a id="trainerdashboard" class="item" href="/trainerdashboard">
            <p class="ui users icon header">
                <i class="ui red users icon"></i>My Dashboard
            </p>
        </a>
    </div>
    <div class="ui column">
        <a id="classescreation" class="item" href="/classescreation">
            <p class="ui student icon header">
                <i class="ui black student icon"></i>Scheduled Classes
            </p>
        </a>
    </div>
    <div class="ui column">
        <a id="dashboard" class="item" href="/goalcreation">
            <p class="ui trophy icon header">
                <i class="ui yellow trophy icon"></i>Goals
            </p>
        </a>
    </div>
    <div class="ui column">
        <a id="fitnesscreation" class="item" href="/fitnesscreation">
            <p class="ui heart icon header">
                <i class="ui green heart icon"></i>Fitness Programmes
            </p>
        </a>
    </div>
</header>