{{> menu id="trainerdashboard"}}

<section class="ui raised segment">
    <header class="ui header">
        {{trainer.firstname}} {{trainer.lastname}}'s Dashboard
    </header>
</section>
{{> traineractions}}
<section class="ui raised segment">


    {{> listmembers}}
</section>